<%- include('templates/cabecera', {tituloWeb:'Sitio con EJS'}) %>
<body>
    <h1>Motor de plantillas EJS con Express</h1>
    <h2> <%= titulo %> </h2>
    <h3>Estamos trabajando con plantillas: <%= dato %> </h3>
</body>
</html>